@font-face {
    font-family: 'militar';
    src: url('../fonts/Explotion.ttf') format('truetype');
    font-style: normal;
}
body {
    background-color: #424756;
    /* 1º valor é RED, 2º Valor é GREEN, 3º Valor é BLUE e o 4º Valor é o grau de transparência.*/
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

ul {
    font-family: 'militar';
    font-size: 20px;
    display: flex;
    list-style: none;
}

li {
   padding: 10px;
}

p {
    font-family: 'militar';
    color: white;
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: white;
}
li:hover {
    background-color: #6ea171;
    border-radius: 5px;
    cursor: pointer;
}

nav {
    background-color: #4d784e;
    padding: 5px;
    border-radius: 0.5rem;
    line-height: 20px;
}

footer {
    text-align: center;
    justify-items: baseline;
}


@media screen and (max-width: 600px) {
    ul {
      font-size: 10px;
    }
  }